:root {
  /* Paleta Original */
  --color-primary: #646e78;
  --color-secondary: #8d98a7;
  --color-tertiary: #dcccbb;
  --color-accent: #eab464;
  --color-highlight: #a7754d;

  /* Paleta Alternativa */
  /* --color-primary: #353535;
  --color-secondary: #ffffff;
  --color-tertiary: #d2d7df;
  --color-accent: #bdbbb0;
  --color-highlight: #8a897c; */

  /* Fuentes */
  --font-primary: "Open Sans", sans-serif;
  --font-heading: "Lato", sans-serif;
  --font-secundary: "Roboto", sans-serif;
  --font-title: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-primary);
  color: var(--color-secondary);
  line-height: 1.6;
}

header {
  font-family: var(--font-heading);
  background-color: var(--color-secondary);
  color: #353535;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-family: var(--font-title);
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: underline;
}

nav h2 {
  padding-left: 1.5rem;
}

nav a {
  color: var(--color-tertiary);
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;

}

nav a:hover {
  color: var(--color-highlight);
  text-decoration: underline;
  background-color: var(--color-tertiary);
  border-radius: 5%;
  cursor: pointer;

}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  /* background: var(--color-secondary); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section {
  background: var(--color-tertiary);
  color: var(--color-primary);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

footer {
  background-color: var(--color-highlight);
  color: var(--color-accent);
  text-align: center;
  padding: 10px 0;
  font-size: 0.8em;
}

footer p {
  margin: 0;
}

button,
.button {
  background: var(--color-highlight);
  color: var(--color-accent);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover,
.button:hover {
  background: var(--color-primary);
  transform: scale(1.05);
}

/* Añade más estilos personalizados según sea necesario */
